<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>


<form action="" method="POST"> {% csrf_token %}
        <table>
            <thead>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
            </thead>
        {% for i in a %}
             <tbody>
             <td><input type="checkbox" value="{{ i }}" name="check_box_list" >{{ i }}</td>
             <td><input type="text" name="{{i}}" value="2222"></td>
            </tbody>

        {% endfor %}
    </table>
<input type="submit" value="提交"/>
</form>

</body>
</html>


